.login {
    background-color: white;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.headerBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    background-color: white;
    z-index: 1000;
    border: 0.0625rem solid rgb(180, 180, 180);
}

.headerTitle {
    font-size: 1.4rem;
    font-weight: 700;
    color: black;
    padding-left: 21%;
}

.contactButton {
    background-color: #7173F9;
    color: white;
    border: none;
    padding: .5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: .9rem;
    font-weight: bold;
    margin: 1% 1em; /*might need to change em unit */
    margin-right: 21vw; /*might need to change vw unit */
    cursor: pointer;
    border-radius: .6rem;
}

.button {
    border: none;
    background-color: white;
    color: #3f3f3f;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    margin: 1% 1vh; /*might need to change vh unit */
    cursor: pointer;
}

.firstContainer {
    display: flex;
    justify-content: space-around; 
    padding-left: 21%;
    padding-right: 21%;
    margin-top: 8%;
}

.starsBackground {
    border-radius: .9rem;
    border: 3px solid black;
    /* background: url('../Assets/stars-background.svg') no-repeat center center;  */
    background: url('../Assets/stars-background.svg'); 
    background-size: cover;
    background-color: #7173F9; 
    width: 90%; 
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.logoWrapper {
    position: relative;
    width: 10%; /* USE DIFFERENT UNIT */
    height: 0; /* USE DIFFERENT UNIT */
    padding-top: 10%;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.logo {
    width: 70%; 
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto; 
}

.titleText {
    font-size: 2rem;
    color: white;
    margin-top: -.2rem; /* probably should change this */
    font-weight: bold;
}

.titleSubText {
    font-size: 1.2rem;
    color: white;
    font-weight: 400;
    margin-top: -2.7rem; /* probably should change this */
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleSubText div {
    display: flex;
    align-items: center;
}

.titleSubText p {
    margin-right: 0.5rem;
}

.loginButton {
    background: none;
    border: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 400;
    text-decoration: underline;
    cursor: pointer;
}

.radioContainer {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    color: white;
}

.practitioner {
    margin-left: 4rem;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
    margin-top: 2rem;
    width: 42%;
}

.inputContainer input {
    width: 100%;
    height: 2.5rem;
    border: none;
    border-radius: 0.5rem;
    padding-left: 1rem;
    margin-bottom: 1rem;
}

.inputContainer label {
    align-self: flex-start;
    color: white;
    margin-bottom: 0.5rem;
}

.signup {
    background-color: #34368f;
    color: white;
    border: none;
    padding: 1rem 1.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: .9rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: .6rem;
    margin-top: 1.5rem;
}